<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="RutaApiUrl" value="http://ws.qvet.net/RestServiceImpl.svc/ObtenerUrlApi" />
    <add key="QvetWS" value="0x01000000e68089b0314a4bd88600607337afff14259ca2fbbf95a848" />
  </appSettings>
  <connectionStrings>
    <add name="SINCRONIZADOREntities" connectionString="metadata=res://*/Datos.BaseDatosModelo.csdl|res://*/Datos.BaseDatosModelo.ssdl|res://*/Datos.BaseDatosModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PEREIRACOTO-PC\PEREIRASERVER;initial catalog=SINCRONIZADOR;persist security info=True;user id=sa;password=Datos.2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>